<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <h1>Upload a File</h1>
        <form action="/" method="POST" enctype="multipart/form-data">
            <input type="file" name="file">
            <button type="submit">Submit</button>
        </form>

        <!-- Display flash messages -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li class="{{ 'success' if 'successfully' in message else '' }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <!-- Display uploaded files -->
        <!-- <h2>Uploaded Files:</h2>
        <ul class="file-list">
            {% for file in files %}
            <li>{{ file }}</li>
            {% endfor %}
        </ul> -->
    </div>
</body>

</html>